{% extends 'base.html' %}


{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <div class="thumbnail">
            <div class='col-sm-0 col-sm-offset-3'>
                <h1>{{ title }}</h1>
            </div>
        </div>
        {% for obj in object_list %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    <img src='{{ obj.image.url }}' class='img-responsive'/>
                    <div class="caption">
                        <h3>
                            <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                            <small>{{ obj.timestamp|timesince }} ago</small>
                        </h3>
                        <b>Author</b> <a href="/users/{{ obj.user.username }}">{{obj.user.username}}</a></br>
                        <b>Price</b> ${{ obj.price }}</br>
                        <b>Medium</b> {{ obj.medium }}</br>
                        <b>Created</b> {{ obj.timestamp|date }}</br>
                        <b>Description</b> {{ obj.description|truncatechars:120 }}</br>
                    </div>
                </div>
            </div>
            </hr>
        </div>
        {% endfor %}

        <div class='panel-footer'>
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                    <a href="?page={{ object_list.previous_page_number  }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ object_list.number  }} of {{ object_list.paginator.num_pages  }}.
                    </span>
                    {% if object_list.has_next %}
                    <a href="?page={{ object_list.next_page_number  }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
