{% extends 'base.html' %}


{% block head_title %}
		{{ instance.username}} | {{ block.super }}
{% endblock head_title %}


{% block content %}

<div class='col-sm-3 col-sm-offset-0'>
		<div class="panel panel-default">
				<div class="panel-body">
						<img src='{{ instance.profile_picture.url }}' class='img-responsive'/>
						<h1>{{ instance.username }}<small></h1>
						<p>Joined {{ instance.date_joined|timesince }} ago</small></p>
						<p>{{ instance.get_full_name }}</p>
						<p>{{ instance.phone_number }}</p>
						<p><b>Biography: </b></br>{{ instance.bio | linebreaks }}</p>
						<a href="/users/{{ instance.username }}/edit/" class="btn btn-primary" role="button">Edit Profile</a></br>
				</div>
		</div>
</div>

<div class='col-sm-9 col-sm-offset-0'>
		<div class="panel panel-default">
				<div class="panel-heading">
						<h2> Gallery </h2>
				</div>
				<div class="panel-body">
						{% for post in gallery %}
								<div class='col-sm-3 col-sm-offset-0'>
										<img src='{{ post.image.url }}' class='img-responsive thumbnail'/>
										<a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</a></h3>
										<p>${{ post.price }}</p>
								</div>
						{% endfor %}
				</div>
		</div>
</div>

{% endblock content %}
